<!doctype html>
<html class="no-js" lang="en">

<head>
    <meta charset="utf-8" />
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DM Doors | Виробник високоякісних дверей з масиву дерева | Львів</title>
    <meta name="description" content="фабрика ексклюзивних дверей для вимогливих клієнтів">
    <meta property="og:image" content="http://d-m.com.ua/door-og-img.jpg">
    <meta property="og:url" content="http://d-m.com.ua/doors.html" />
    <meta property="og:title" content="DM Doors" />
    <meta property="og:description" content="Фабрика ексклюзивних дверей для вимогливих клієнтів" />
    <meta property="og:type" content="website" />
    <link rel="stylesheet" href="assets/css/app.css">
    <link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet" integrity="sha384-wvfXpqpZZVQGK6TAh5PVlGOfQNHSoD2xbE+QkPxCAFlNEevoEH3Sl0sibVcOQVnN" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.css"/>
</head>

<body>
    <div id="preloader" class="grid-x gray-bg align-center-middle">
        <div class="cell" id="pre-logo" style="width: 240px;">
            <img src="assets/img/doors-logo.svg" alt="">
        </div>
    </div>
    <div ng-app="DmDoors" ng-controller="DmDoorsCtrl">
        <div class="off-canvas-wrapper">
            <!-- OFF-CANVAS -->
            <div class="off-canvas position-bottom" id="doorModel" data-off-canvas data-transition="overlap" style="width: 94vw; margin-left: 2vw; overflow-x: visible;" ng-keydown="key($event)">
                <button class="close-button" aria-label="Close menu" type="button" data-close>
                    <span aria-hidden="true">&times;</span>
                </button>
                <div class="grid-x">
                <button ng-click="prevImg()" type="button" class="button prv-btn text-center  "><i class="fa fa-angle-left fa-3x"></i></button>
                <button ng-click="nextImg()" type="button" class="button nxt-btn text-center  "><i class="fa fa-angle-right fa-3x"></i></button>
                    <div class="cell large-6 gray-bg text-center" style="position: relative;">
                        <div class="grid-x model-title">
                            <div class="cell code">
                                <h4 class="text-center white">{[{data.catalogue[selectedModel].code}]}</h4>
                            </div>
                            <div class="cell model-name uppercase dark-gray">
                                <h4>{[{data.catalogue[selectedModel].name}]}</h4>
                            </div>
                        </div>
                        <img style="max-width: 48vw; margin: 1.2rem 0 1.6rem " src="assets/img/doors/catalogue/{[{data.catalogue[selectedModel].name}]}/{[{selectedImg}]}.png" alt=""><br><br>
                    </div>
                    <div class="cell large-6 white-bg" style="position: relative;">
                        <div class="model-fragm">
                            <img style="max-width: 24vw" src="assets/img/doors/catalogue/{[{data.catalogue[selectedModel].name}]}/thumbs/7.jpg" alt="">
                        </div>
                        <div class="grid-x small-up-3" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
                            <div class="cell " ng-repeat="img in data.catalogue[selectedModel].thumbs" data-equalizer-watch>
                                <a ng-click="selectImg($index)">
                                    <div class=" text-center">
                                        <img style="max-width: 24vw; margin: 1rem 0 0.6rem" src="assets/img/doors/catalogue/{[{data.catalogue[selectedModel].name}]}/thumbs/{[{img}]}.jpg" alt="">
                                    </div>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="off-canvas-content" data-off-canvas-content>
                <div class="hero ">
                    <div class="grid-x social-icons">
                        <div class="cell shrink  ">
                            <a href="https://www.facebook.com/{[{data.fb}]}" target="_blank">
                                <i class="fa fa-facebook-square fa-2x"></i></a>
                            <a href="https://www.instagram.com/{[{data.insta}]}" target="_blank">
                                <i class="fa fa-instagram fa-2x"></i></a>
                        </div>
                        <div class="cell auto main-tel ">
                            <a class="white text-right" href="tel://{[{data.tel2}]}" >
                                <i class="fa fa-phone-square fa-2x" style="transform: translateY(0.4rem); "></i>
                                {[{data.tel2View}]}</a>
                        </div>
                    </div>                <div class="slider">
                        <div class="slide " ng-repeat="slide in data.mainSlides" style="background-image: url(assets/img/slides/{[{slide}]}.jpg); min-height: 84vh; "></div>
                    </div>
                    <div class="header text-center top-overlay">
                        <div class="grid-y " style="height: 100%">
                            <div class="cell " style="height: 54%">
                                <img class="door-logo " src="assets/img/doors-logo-w.svg" alt="">
                            </div>
                            <div class="cell ">
                                <h1 class="slogan white uppercase text-center"> {[{data.slogan}]}</h1>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="white-bg" style="position: relative;">
                    <div class="woodrings-1">
                        <img src="assets/img/wood-rings.png" alt="">
                    </div>
                    <div class="grid-container grid-x align-center">
                        <div class="cell medium-11 large-10">
                            <br>
                            <h2 class="dark-gray uppercase text-center">про нас</h2>
                            <p class="text-center">{[{data.history}]}</p><br><br>
                        </div>
                    </div>
                </div>
                <!-- CATALOGUE -->
                <div id="catalogue" class="gray-bg">
                    <br>
                    <h2 class="dark-gray uppercase text-center">каталог дверей </h2>
                    <div class="grid-x  grid-padding-y small-up-1 medium-up-2 large-up-3 xlarge-up-4" data-equalizer data-equalize-on="medium" data-equalize-by-row="true">
                        <div class="cell model-card" ng-repeat="model in data.catalogue" data-equalizer-watch>
                            <a ng-click="selectModel($index)" data-open="doorModel">
                                <div class="grid-x  ">
                                    <div class="cell text-center">
                                        <img style="margin: 1rem 0 0.6rem" src="assets/img/doors/catalogue/{[{model.name}]}/1.png" alt="">
                                    </div>
                                    <div class="cell">
                                        <h4 class="dark-gray uppercase text-center">{[{model.name}]}</h4>
                                    </div>
                                </div>
                            </a>
                        </div>
                    </div><br><br>
                </div>
                <!-- gallery -->
                <div class="white-bg">
                    <br>
                    <h2 class="dark-gray uppercase text-center">наші об’єкти</h2>
                    <div class="gallery ">
                        <div ng-repeat="obj in data.gallery">
                            <img src="assets/img/doors/obj-gallery/{[{obj}]}.jpg" alt="">
                        </div>
                    </div><br><br>
                </div>
                <footer class="white dark-gray-bg" style="position: relative;"><br>
                    <h2 class="uppercase text-center">контакти</h2>
                    <div class="woodrings-2">
                        <img src="assets/img/wood-rings.png" alt="">
                    </div>
                    <div class="grid-x ">
                        <div class="cell medium-6 large-8 " style="padding-left: 3vw">
                            <div id="googleMapLviv" style="width:100%; height:360px;"></div>
                        </div>
                        <div class="cell medium-6 large-4">
                            <img style="width: 120px" src="assets/img/doors-logo-w.svg" alt=""><br><br>
                            <p>{[{data.address}]}</p>
                            <a class="white s-bold" href="tel://{[{data.tel1}]}">{[{data.tel1View}]}</a><br>
                            <a class="white s-bold" href="tel://{[{data.tel2}]}">{[{data.tel2View}]}</a><br>
                            <p>{[{data.email}]}</p>
                            <a href="https://www.facebook.com/{[{data.fb}]}" target="_blank">
                                <i class="white fa fa-facebook-square fa-2x"></i></a>
                            <a style="margin-left: 0.6rem" href="https://www.instagram.com/{[{data.insta}]}" target="_blank">
                                <i class="white fa fa-instagram fa-2x"></i></a>
                        </div>
                    </div><br><br>
                </footer>
            </div>
        </div>
    </div>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="assets/js_plugins/doorAngular.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-animate.js"></script>
    <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.8/angular-route.js"></script> -->
    <!-- <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular-sanitize.js"></script> -->

    <script src="assets/js/app.js"></script>
    <script type="text/javascript" src="//cdn.jsdelivr.net/npm/slick-carousel@1.8.1/slick/slick.min.js"></script>
    <script src="//maps.googleapis.com/maps/api/js?key=AIzaSyAfuN7UgfDB2RfqBeNIZ1S_rpZ6HU-GKYU"></script>
    <script>
    
    var myCenterLviv=new google.maps.LatLng( 49.871466, 24.022298 );
    
    var dmPin='assets/img/map-pin.png';
    function initialize()
    {
    var mapPropLviv = {
    zoomControl: true,
    scrollwheel: false,
    center:myCenterLviv,
    zoom:16,
    disableDefaultUI: true,
    mapTypeId:google.maps.MapTypeId.ROADMAP
    };
    
    var mapLviv=new google.maps.Map(document.getElementById("googleMapLviv"),mapPropLviv);
    
    
    var myMarker=new google.maps.Marker({
    position: myCenterLviv,
    icon: dmPin,
    map: mapLviv,
    title: 'Топольна, 4'
    });
    
    }
    google.maps.event.addDomListener(window, 'load', initialize);
    </script>


</body>

</html>